<!-- Tufts VUE 3.3.0 concept-map (STmodel-portic24sept2021.vue) 2021-09-28 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/C:/Program%20Files%20(x86)/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Tue Sep 28 10:01:38 CEST 2021 by cplume01 on platform Windows 8 6.2 in JVM 1.7.0_21-b11 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="STmodel-portic24sept2021.vue" created="1586879755715" x="0.0"
    y="0.0" width="1384.1647" height="794.0349" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1632816098095"
        spec="C:\Travail\Dev\portic_humanum\tp-portic\fig\STmodel-portic24sept2021.vue"
        type="1" xsi:type="URLResource">
        <title>STmodel-portic24sept2021.vue</title>
        <property key="File" value="C:\Travail\Dev\portic_humanum\tp-portic\fig\STmodel-portic24sept2021.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/797be5a7c0a838010028f8751ef3566c</URIString>
    <child ID="6" label=":Pointcall&#xa;uri : record_id" layerID="1"
        created="1586879761205" x="497.0" y="305.0" width="232.69998"
        height="146.7" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5a8c0a838010028f8759939ae5c</URIString>
        <child ID="44" label="status" created="1586880628797"
            x="55.84999" y="60.85" width="71.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b6c0a838010028f875af9df7f2</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      status
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>status</label>
        </child>
        <child ID="45" label="action" created="1586880643298"
            x="55.84999" y="81.85" width="149.0" height="17.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b6c0a838010028f8757a67739d</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      action
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>action</label>
        </child>
        <child ID="46" label="function" created="1586880650354"
            x="55.84999" y="101.85" width="150.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b6c0a838010028f875376f79a6</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      function
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>function</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="7" label=":Ship&#xa;uri : ship_id" layerID="1"
        created="1586879773227" x="-68.26117" y="268.35468"
        width="92.90001" height="49.899998" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5a8c0a838010028f87595bf3663</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="8" label=":Datation&#xa;uri: record_id" layerID="1"
        created="1586879783582" x="842.0" y="259.0" width="232.79999"
        height="158.79999" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5a8c0a838010028f875d8e8dd52</URIString>
        <child ID="97" label="isExact" created="1613751774569"
            x="56.899994" y="61.899994" width="145.0" height="21.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb1ceee3c0a83801017ce5995d77eea6</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      isExact
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>isExact</label>
        </child>
        <child ID="95" label="isAfter" created="1613751728830"
            x="56.899994" y="85.899994" width="148.0" height="21.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <fillColor>#E6F7FD</fillColor>
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb1ceee3c0a83801017ce599fa927d5d</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      isAfter
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>isAfter</label>
        </child>
        <child ID="96" label="isBefore" created="1613751740360"
            x="56.899994" y="109.899994" width="145.0" height="21.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb1ceee3c0a83801017ce5999508810a</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      isBefore
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>isBefore</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="10" label="ogc:Geometry" layerID="1"
        created="1586879797710" x="977.7439" y="412.5076" width="172.4"
        height="63.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://schemas.opengis.net/geosparql/1.0/geosparql_vocab_all.rdf"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://schemas.opengis.net/geosparql/1.0/geosparql_vocab_all.rdf"/>
        </resource>
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5adc0a838010028f875e8625849</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="11" label="Point" layerID="1" created="1586879807921"
        x="1034.3948" y="514.59174" width="135.20001" height="90.20001"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b0c0a838010028f8750f5b7b9a</URIString>
        <child ID="47" label="latitude" created="1586880676142"
            x="45.100006" y="35.100006" width="52.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b0c0a838010028f875c28ea937</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      latitude
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>latitude</label>
        </child>
        <child ID="48" label="longitude" created="1586880680635"
            x="45.100006" y="56.100006" width="74.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b1c0a838010028f87565cf1f27</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      longitude
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>longitude</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="12" label=":Port&#xa;uri : UHGS_id" layerID="1"
        created="1586879817281" x="739.9283" y="462.75656"
        width="197.20001" height="242.20001" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b1c0a838010028f87520e51fbe</URIString>
        <child ID="50" label="shippingArea" created="1586880704952"
            x="61.100006" y="66.100006" width="84.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b1c0a838010028f8751b34ec9d</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      shippingArea
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>shippingArea</label>
        </child>
        <child ID="51" label="toponyme_fr" created="1586880712960"
            x="61.100006" y="87.100006" width="78.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b1c0a838010028f875757ccfc4</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      toponyme_fr
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>toponyme_fr</label>
        </child>
        <child ID="52" label="amiraute" created="1586880725837"
            x="61.100006" y="108.100006" width="88.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b2c0a838010028f87523b9d42d</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      amiraute
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>amiraute</label>
        </child>
        <child ID="53" label="province" created="1586880732399"
            x="61.100006" y="129.1" width="84.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b2c0a838010028f8758392c9eb</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      province
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>province</label>
        </child>
        <child ID="86" label="substate_1789_fr" created="1613751213114"
            x="61.100006" y="150.1" width="104.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c01c0a83801017ce5999ac58b93</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      substate_1789_fr
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>substate_1789_fr</label>
        </child>
        <child ID="54" label="state_1789_fr" created="1586880737079"
            x="61.100006" y="171.1" width="88.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b2c0a838010028f875e534df9e</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      state_1789_fr
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>state_1789_fr</label>
        </child>
        <child ID="101" label="status" created="1613752280783"
            x="61.100006" y="192.1" width="75.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb223355c0a83801017ce59934611679</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      status
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>status</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="13" label=":Captain&#xa;uri : captain_id" layerID="1"
        created="1586879826144" x="-124.77317" y="12.73056"
        width="157.98204" height="74.672066" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b3c0a838010028f87590bbe7cb</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="14" label=":Source&#xa;uri : source_doc_id" layerID="1"
        created="1586879836033" x="490.52716" y="-12.84568"
        width="243.59998" height="200.59998" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b4c0a838010028f8753badaf0b</URIString>
        <child ID="28" label="suite" created="1586880256139"
            x="61.299988" y="66.29999" width="150.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b4c0a838010028f875165049b9</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      suite
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>suite</label>
        </child>
        <child ID="29" label="component" created="1586880261077"
            x="61.299988" y="87.29999" width="70.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b5c0a838010028f8757d5c5a9a</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      component
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>component</label>
        </child>
        <child ID="27" label="source" created="1586880225769"
            x="61.299988" y="108.29999" width="64.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b5c0a838010028f8750e100485</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      source
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>source</label>
        </child>
        <child ID="69" label="main_port_toponyme"
            created="1613750230278" x="61.299988" y="129.29999"
            width="120.0" height="18.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c03c0a83801017ce5994c277ba5</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      main_port_toponyme
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>main_port_toponyme</label>
        </child>
        <child ID="70" label="main_port_uhgs_id" created="1613750263117"
            x="61.299988" y="150.29999" width="120.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c03c0a83801017ce59937117c01</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      main_port_uhgs_id
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>main_port_uhgs_id</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="15"
        label=":CaptainDescription&#xa;uri : source_doc_id_captain_id"
        layerID="1" created="1586879842149" x="783.0972" y="-11.104744"
        width="270.80002" height="173.79999" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b5c0a838010028f875eb3336c4</URIString>
        <child ID="31" label="name" created="1586880398345" x="58.40001"
            y="63.399994" width="46.0" height="18.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b4c0a838010028f87550310509</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      name
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>name</label>
        </child>
        <child ID="32" label="status" created="1586880406006"
            x="58.40001" y="84.399994" width="53.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b4c0a838010028f8755c5579c4</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      status
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>status</label>
        </child>
        <child ID="33" label="birthplace" created="1586880415648"
            x="58.40001" y="105.399994" width="61.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b3c0a838010028f875c7f47d45</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      birthplace
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>birthplace</label>
        </child>
        <child ID="34" label="citizenship" created="1586880421420"
            x="58.40001" y="126.399994" width="65.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5b3c0a838010028f8750379f1fe</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      citizenship
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>citizenship</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="16" label="hasTrajectory" layerID="1"
        created="1586879857354" x="9.802769" y="209.17581"
        width="118.3682" height="66.662506" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b6c0a838010028f875adc971de</URIString>
        <point1 x="10.302767" y="275.33832"/>
        <point2 x="127.67097" y="209.67581"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">61</ID2>
    </child>
    <child ID="17" label=":hasRelativeDatation" layerID="1"
        created="1586879869702" x="700.34906" y="296.1223"
        width="151.1073" height="34.487274" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b7c0a838010028f87562b07b70</URIString>
        <point1 x="700.84906" y="330.1096"/>
        <point2 x="850.95636" y="307.84967"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">8</ID2>
        <ctrlPoint0 x="778.5613" y="287.265" xsi:type="point"/>
    </child>
    <child ID="19" label=":hasSource" layerID="1"
        created="1586879886244" x="615.81354" y="185.21777" width="56.0"
        height="121.54443" strokeWidth="1.0" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b8c0a838010028f8756ab0e09d</URIString>
        <point1 x="634.4285" y="306.2622"/>
        <point2 x="636.8663" y="185.71777"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">14</ID2>
        <ctrlPoint0 x="651.97974" y="246.23753" xsi:type="point"/>
    </child>
    <child ID="20" label="hasTrajectory" layerID="1"
        created="1586879899792" x="-1.2484818" y="80.1873"
        width="134.03065" height="91.45439" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b8c0a838010028f8758ca03c71</URIString>
        <point1 x="-0.7484835" y="80.6873"/>
        <point2 x="132.28217" y="171.1417"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">61</ID2>
    </child>
    <child ID="21" label=":hasCaptainDescription" layerID="1"
        created="1586879909248" x="675.14557" y="148.20123"
        width="170.32104" height="168.8825" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b8c0a838010028f875cbd21c3f</URIString>
        <point1 x="675.64557" y="316.58374"/>
        <point2 x="844.9666" y="148.70123"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="22" label=":hasPlace" layerID="1" created="1586879932400"
        x="678.95264" y="438.1779" width="81.01935" height="74.02881"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b9c0a838010028f875a33acca6</URIString>
        <point1 x="679.45264" y="438.6779"/>
        <point2 x="759.472" y="511.7067"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
    <child ID="23" label="isA" layerID="1" created="1586879943817"
        x="1072.8502" y="474.6306" width="16.0" height="41.553467"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b9c0a838010028f875972f6902</URIString>
        <point1 x="1087.5197" y="515.6841"/>
        <point2 x="1074.1808" y="475.1306"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="25" label="ogc:hasGeometry" layerID="1"
        created="1586879993408" x="936.25793" y="563.32715"
        width="99.56091" height="14.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5b9c0a838010028f875e9712bfc</URIString>
        <point1 x="936.75793" y="574.84705"/>
        <point2 x="1035.3188" y="565.8072"/>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <child ID="56" label=":Cargo" layerID="1" created="1586880925526"
        x="128.0" y="301.0" width="231.79999" height="130.95"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5bac0a838010028f875eb911cfa</URIString>
        <child ID="66" label="commodity_purpose" created="1613749764031"
            x="55.399994" y="44.975" width="150.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c05c0a83801017ce599c863285f</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      commodity_purpose
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>commodity_purpose</label>
        </child>
        <child ID="76" label="quantity" created="1613750664135"
            x="55.399994" y="65.975" width="150.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c05c0a83801017ce599365e0355</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      quantity
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>quantity</label>
        </child>
        <child ID="80" label="commodity_standardized"
            created="1613750812494" x="55.399994" y="86.975"
            width="150.0" height="18.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c05c0a83801017ce599db9aa9ab</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      commodity_standardized
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>commodity_standardized</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="57" label=":Taxes" layerID="1" created="1586880933311"
        x="253.16187" y="451.1208" width="145.50002" height="140.50002"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5bac0a838010028f87565ee0d04</URIString>
        <child ID="75" label="tax_concept" created="1613750601397"
            x="50.250008" y="40.250008" width="74.0" height="17.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c06c0a83801017ce599b5cbf663</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      tax_concept
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>tax_concept</label>
        </child>
        <child ID="77" label="q01" created="1613750709031" x="50.250008"
            y="60.250008" width="55.0" height="17.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c06c0a83801017ce599ae7399d7</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      q01
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>q01</label>
        </child>
        <child ID="78" label="q02" created="1613750719083" x="50.250008"
            y="80.25001" width="65.0" height="19.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c06c0a83801017ce5998bc77fec</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      q02
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>q02</label>
        </child>
        <child ID="79" label="q03" created="1613750734200" x="50.250008"
            y="102.25001" width="47.0" height="17.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bb124c06c0a83801017ce5998569a2ba</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      q03
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>q03</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="58" label=":carries" layerID="1" created="1586880942626"
        x="296.9865" y="217.17805" width="85.52695" height="92.0654"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5bac0a838010028f8754cfa2244</URIString>
        <point1 x="382.01346" y="217.67804"/>
        <point2 x="297.4865" y="308.74344"/>
        <ID1 xsi:type="node">63</ID1>
        <ID2 xsi:type="node">56</ID2>
    </child>
    <child ID="59" label=":records" layerID="1" created="1586880945096"
        x="389.8053" y="423.25922" width="132.78284" height="66.57132"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/797be5bbc0a838010028f875a0a9546f</URIString>
        <point1 x="522.08813" y="423.75922"/>
        <point2 x="390.3053" y="489.33054"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">57</ID2>
    </child>
    <child ID="61" label="traj:Trajectory" layerID="1"
        created="1613749307423" x="99.79146" y="168.3666" width="123.0"
        height="45.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/baf9ed87c0a83801017ce5994f126638</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="62" label="traj: hasSegment" layerID="1"
        created="1613749402531" x="221.92726" y="186.36151"
        width="109.531586" height="14.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/baf9ed87c0a83801017ce599f289a2bb</URIString>
        <point1 x="222.42725" y="192.18832"/>
        <point2 x="330.95883" y="194.53471"/>
        <ID1 xsi:type="node">61</ID1>
        <ID2 xsi:type="node">63</ID2>
    </child>
    <child ID="63" label="traj:Segment" layerID="1"
        created="1613749460148" x="330.46817" y="173.455"
        width="143.20001" height="45.234085" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/baf9ed87c0a83801017ce599a0d2bf47</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="64" label="traj: startsFrom" layerID="1"
        created="1613749523195" x="426.1029" y="216.73874"
        width="119.17139" height="102.94934" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/baf9ed87c0a83801017ce5993964cfde</URIString>
        <point1 x="426.6029" y="217.23874"/>
        <point2 x="544.7743" y="319.18808"/>
        <ID1 xsi:type="node">63</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="65" label="traj: endsAt" layerID="1"
        created="1613749537539" x="472.89148" y="196.43906"
        width="136.25757" height="109.211334" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/baf9ed87c0a83801017ce59989b02ed8</URIString>
        <point1 x="473.39148" y="196.93906"/>
        <point2 x="608.64905" y="305.1504"/>
        <ID1 xsi:type="node">63</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="601.8" y="198.5" xsi:type="point"/>
    </child>
    <child ID="68" label=":un/loads" layerID="1" created="1613750002371"
        x="358.96796" y="365.40472" width="138.83081" height="14.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/bb124c08c0a83801017ce5993352abf0</URIString>
        <point1 x="497.29877" y="374.61984"/>
        <point2 x="359.46796" y="370.18964"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">56</ID2>
    </child>
    <child ID="74" label="hasHomeport" layerID="1"
        created="1613750495051" x="646.8049" y="656.1104"
        width="113.53485" height="52.03192" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/bb124c08c0a83801017ce599803d7746</URIString>
        <point1 x="647.3049" y="696.29407"/>
        <point2 x="759.8397" y="656.6104"/>
        <ID1 xsi:type="node">102</ID1>
        <ID2 xsi:type="node">12</ID2>
        <ctrlPoint0 x="684.97125" y="725.83234" xsi:type="point"/>
    </child>
    <child ID="89" label="oa:Body" layerID="1" created="1613751442060"
        x="-98.29939" y="313.20752" width="72.59302" height="180.41797"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/bb1ceeebc0a83801017ce599757b0d6c</URIString>
        <point1 x="-26.20638" y="493.1255"/>
        <point2 x="-48.427303" y="313.70752"/>
        <ID1 xsi:type="node">109</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="-119.28194" y="368.0218" xsi:type="point"/>
    </child>
    <child ID="90" label="oa:Body" layerID="1" created="1613751492664"
        x="21.957731" y="-28.187107" width="233.85646"
        height="60.264175" strokeWidth="1.0" strokeStyle="1"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/bb1ceeecc0a83801017ce599f00c27c8</URIString>
        <point1 x="255.3142" y="-27.687107"/>
        <point2 x="22.457731" y="31.57707"/>
        <ID1 xsi:type="node">115</ID1>
        <ID2 xsi:type="node">13</ID2>
        <ctrlPoint0 x="82.83604" y="15.217634" xsi:type="point"/>
    </child>
    <child ID="99" label="foaf:Person" layerID="1"
        created="1613752084666" x="-156.18753" y="-66.39279"
        width="120.73221" height="45.234085" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/bb22335bc0a83801017ce599254a3ea9</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="100" label="isA" layerID="1" created="1613752142805"
        x="-84.4995" y="-22.10521" width="19.973343" height="36.5821"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/bb22335bc0a83801017ce59903bce160</URIString>
        <point1 x="-65.02615" y="13.976891"/>
        <point2 x="-83.9995" y="-21.60521"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">99</ID2>
    </child>
    <child ID="102"
        label=":ShipDescription&#xa;uri : source_doc_id_ship_id"
        layerID="1" created="1613981791099" x="429.33624" y="525.7832"
        width="255.59998" height="199.59998" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c9030998c0a83801017ce599e6ab01d8</URIString>
        <child ID="103" label="name" created="1613981791099"
            x="59.799988" y="64.79999" width="83.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/c9030998c0a83801017ce599cc4cfa3c</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      name
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>name</label>
        </child>
        <child ID="104" label="flag" created="1613981791100"
            x="59.799988" y="85.79999" width="67.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/c9030998c0a83801017ce599dffee5eb</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      flag
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>flag</label>
        </child>
        <child ID="105" label="tonnage" created="1613981791100"
            x="59.799988" y="106.79999" width="70.0" height="17.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/c9030998c0a83801017ce5992545398f</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      tonnage
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>tonnage</label>
        </child>
        <child ID="106" label="tonnage_unit" created="1613981791100"
            x="59.799988" y="126.79999" width="83.0" height="22.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/c9030998c0a83801017ce5999e6d8275</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      tonnage_unit
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>tonnage_unit</label>
        </child>
        <child ID="107" label="ship_class" created="1613981791100"
            x="59.799988" y="151.79999" width="70.0" height="17.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/c9030999c0a83801017ce599813d3feb</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      ship_class
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>ship_class</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="108" label=":hasShipDescription" layerID="1"
        created="1613981858093" x="540.1594" y="450.37915" width="96.0"
        height="77.522705" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c9030999c0a83801017ce599ffb3f9c7</URIString>
        <point1 x="596.85895" y="450.87915"/>
        <point2 x="579.4599" y="527.40186"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">102</ID2>
    </child>
    <child ID="109" label=":ShipIdentification" layerID="1"
        created="1613984619889" x="-66.04551" y="490.7363" width="125.8"
        height="66.77112" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c9030999c0a83801017ce5999c35744d</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="110" label="oa:Annotation" layerID="1"
        created="1613984645561" x="-193.27156" y="398.7004"
        width="107.600006" height="61.357243" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c9030999c0a83801017ce599ab113233</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="111" label="isA" layerID="1" created="1613984660481"
        x="-106.0008" y="452.48773" width="65.32472" height="45.70392"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c9030999c0a83801017ce5999c87a56f</URIString>
        <point1 x="-41.17608" y="497.69165"/>
        <point2 x="-105.5008" y="452.98773"/>
        <ID1 xsi:type="node">109</ID1>
        <ID2 xsi:type="node">110</ID2>
    </child>
    <child ID="112" label="oa:Target" layerID="1"
        created="1613984716182" x="26.172081" y="552.8471"
        width="403.67322" height="73.3761" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce5993afc541e</URIString>
        <point1 x="26.672081" y="553.3471"/>
        <point2 x="429.3453" y="625.7232"/>
        <ID1 xsi:type="node">109</ID1>
        <ID2 xsi:type="node">102</ID2>
        <ctrlPoint0 x="100.882286" y="626.0831" xsi:type="point"/>
    </child>
    <child ID="113" label="foaf:Agent" layerID="1"
        created="1613984768050" x="-153.5698" y="151.46672"
        width="130.8353" height="52.334118" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce599d58da6ba</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="114" label="oa:annotatedBy" layerID="1"
        created="1613984798159" x="-243.81114" y="201.95967"
        width="180.74532" height="313.8789" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce59905704f92</URIString>
        <point1 x="-63.56582" y="515.33856"/>
        <point2 x="-107.85581" y="202.45967"/>
        <ID1 xsi:type="node">109</ID1>
        <ID2 xsi:type="node">113</ID2>
        <ctrlPoint0 x="-325.91147" y="477.2016" xsi:type="point"/>
    </child>
    <child ID="115" label=":CaptainIdentification" layerID="1"
        created="1613984919370" x="246.41183" y="-76.818245"
        width="144.4" height="66.77112" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FEFEC9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce5999dbbb7e3</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="116" label="oa:Target" layerID="1"
        created="1613984965978" x="390.31183" y="-43.932682"
        width="414.58435" height="73.56955" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce599e63510d6</URIString>
        <point1 x="390.81183" y="-43.432682"/>
        <point2 x="804.3962" y="29.136871"/>
        <ID1 xsi:type="node">115</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="626.9304" y="-43.43267" xsi:type="point"/>
    </child>
    <child ID="118" label="isA" layerID="1" created="1613984989625"
        x="-237.42068" y="-22.980171" width="122.52189"
        height="210.36658" strokeWidth="1.0" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce59992c3faa1</URIString>
        <point1 x="-150.461" y="185.20071"/>
        <point2 x="-115.398796" y="-22.480171"/>
        <ID1 xsi:type="node">113</ID1>
        <ID2 xsi:type="node">99</ID2>
        <ctrlPoint0 x="-325.91147" y="206.50786" xsi:type="point"/>
    </child>
    <child ID="119" label="oa:annotatedBy" layerID="1"
        created="1613985050478" x="-49.992798" y="-18.618408"
        width="322.52612" height="175.74174" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce5997263b5c5</URIString>
        <point1 x="272.03333" y="-18.118408"/>
        <point2 x="-49.492786" y="156.62334"/>
        <ID1 xsi:type="node">115</ID1>
        <ID2 xsi:type="node">113</ID2>
    </child>
    <child ID="120" label="isA" layerID="1" created="1613985115833"
        x="-132.53076" y="-16.394958" width="410.89197"
        height="416.02307" strokeWidth="1.0" strokeStyle="1"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c903099ac0a83801017ce5993c55e75d</URIString>
        <point1 x="277.8612" y="-15.8949585"/>
        <point2 x="-132.03076" y="399.1281"/>
        <ID1 xsi:type="node">115</ID1>
        <ID2 xsi:type="node">110</ID2>
        <ctrlPoint0 x="-91.31026" y="233.57722" xsi:type="point"/>
    </child>
    <child ID="121" label="time:Instant" layerID="1"
        created="1613985969061" x="1038.8901" y="155.09805"
        width="124.2" height="56.200005" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://www.w3.org/2006/time#" type="2" xsi:type="URLResource">
            <property key="URL" value="http://www.w3.org/2006/time#"/>
        </resource>
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c918d1ebc0a83801017ce5996c2a094d</URIString>
        <child ID="122" label="day_Date" created="1613985969061"
            x="39.1" y="29.100002" width="64.0" height="17.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/c918d1ebc0a83801017ce59939589b70</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      day_Date
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>day_Date</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="126" label="time:hasTime" layerID="1"
        created="1613986035896" x="1017.65686" y="208.6377" width="62.0"
        height="63.0448" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#000000</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c918d1ebc0a83801017ce5999fbc1d15</URIString>
        <point1 x="1020.1554" y="271.1825"/>
        <point2 x="1077.1583" y="209.1377"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">121</ID2>
    </child>
    <child ID="127" label="oa:annotatedAt" layerID="1"
        created="1613986115719" x="389.67813" y="-51.52367"
        width="752.4896" height="208.38963" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c918d1ebc0a83801017ce59911ae91fd</URIString>
        <point1 x="390.17813" y="-46.339417"/>
        <point2 x="1118.4683" y="156.36597"/>
        <ID1 xsi:type="node">115</ID1>
        <ID2 xsi:type="node">121</ID2>
        <ctrlPoint0 x="1273.8884" y="-82.2321" xsi:type="point"/>
    </child>
    <child ID="128" label="oa:annotatedAt" layerID="1"
        created="1613986251058" x="19.86824" y="209.92554"
        width="1164.6083" height="532.5579" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="2"
        arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c918d1ebc0a83801017ce59975748723</URIString>
        <point1 x="20.36824" y="555.0436"/>
        <point2 x="1115.6509" y="210.42554"/>
        <ID1 xsi:type="node">109</ID1>
        <ID2 xsi:type="node">121</ID2>
        <ctrlPoint0 x="205.43544" y="798.4163" xsi:type="point"/>
        <ctrlPoint1 x="1491.1105" y="907.7165" xsi:type="point"/>
    </child>
    <child ID="129" label="traj:MovingObject" layerID="1"
        created="1628165451891" x="261.89108" y="70.3045"
        width="195.75201" height="45.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/165001bcc0a8380101e0170c00a3a258</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="130" label="traj: isTraversedBy" layerID="1"
        created="1628165487991" x="334.90997" y="114.59296" width="92.0"
        height="59.65326" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/165001bdc0a8380101e0170c2ee357db</URIString>
        <point1 x="392.9229" y="173.74622"/>
        <point2 x="368.897" y="115.09296"/>
        <ID1 xsi:type="node">63</ID1>
        <ID2 xsi:type="node">129</ID2>
    </child>
    <child ID="131" layerID="1" created="1632491361504" x="1173.5984"
        y="235.02872" width="148.0" height="17.0" strokeWidth="0.0"
        autoSized="false" xsi:type="text">
        <strokeColor>#404040</strokeColor>
        <textColor>#000000</textColor>
        <font>SansSerif-plain-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1829c4e8c0a83801010164a0b872cbbe</URIString>
        <richText>&lt;html&gt;
  &lt;head&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;
      
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
    </child>
    <layer ID="1" label="Layer 1" created="1586879755718" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/797be5bbc0a838010028f875a5e6a69a</URIString>
    </layer>
    <userZoom>0.75</userZoom>
    <userOrigin x="-195.85835" y="-87.114716"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1586879755714"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="0" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/797be5bbc0a838010028f8756c9ec351</URIString>
            <masterSlide ID="2" created="1586879755731" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/797be5bbc0a838010028f875735a14ec</URIString>
                <titleStyle ID="3" label="Header"
                    created="1586879756455" x="335.5" y="172.5"
                    width="129.0" height="55.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/797be5bcc0a838010028f87504b337a4</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1586879756456" x="346.5" y="281.5"
                    width="107.0" height="37.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/797be5bcc0a838010028f875a3bab354</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1586879756457"
                    x="373.5" y="384.0" width="53.0" height="32.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/797be5bcc0a838010028f875223ddcc5</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2020-04-14</date>
    <modelVersion>6</modelVersion>
    <saveLocation>C:\Travail\Dev\portic_humanum\tp-portic\fig</saveLocation>
    <saveFile>C:\Travail\Dev\portic_humanum\tp-portic\fig\STmodel-portic24sept2021.vue</saveFile>
</LW-MAP>
