<!-- Tufts VUE 3.3.0 concept-map (tp_portic_24sept2021.vue) 2021-09-28 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/C:/Program%20Files%20(x86)/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Tue Sep 28 10:03:18 CEST 2021 by cplume01 on platform Windows 8 6.2 in JVM 1.7.0_21-b11 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="tp_portic_24sept2021.vue" created="1632493549825" x="0.0"
    y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1632816198427"
        spec="C:\Travail\Dev\portic_humanum\tp-portic\fig\tp_portic_24sept2021.vue"
        type="1" xsi:type="URLResource">
        <title>tp_portic_24sept2021.vue</title>
        <property key="File" value="C:\Travail\Dev\portic_humanum\tp-portic\fig\tp_portic_24sept2021.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/183dcb70c0a83801010164a085656016</URIString>
    <child ID="6" label=":Pointcall&#xa;uri : record_id" layerID="1"
        created="1632493550867" x="116.26672" y="119.06259"
        width="233.59998" height="151.59999" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb71c0a83801010164a0f2379d0b</URIString>
        <child ID="7" label="status" created="1632493550867"
            x="56.299988" y="61.299995" width="71.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb71c0a83801010164a03dce215c</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      status
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>status</label>
        </child>
        <child ID="8" label="action" created="1632493550867"
            x="56.299988" y="83.299995" width="149.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb71c0a83801010164a0abf188c3</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      action
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>action</label>
        </child>
        <child ID="9" label="function" created="1632493550867"
            x="56.299988" y="105.299995" width="150.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb71c0a83801010164a03de29014</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      function
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>function</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="10" label=":Datation&#xa;uri: record_id" layerID="1"
        created="1632493550867" x="461.26672" y="73.06259"
        width="231.79999" height="151.79999" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb72c0a83801010164a0c8f9622e</URIString>
        <child ID="11" label="isExact" created="1632493550867"
            x="56.399994" y="61.399994" width="146.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb72c0a83801010164a05a4b5a8a</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      isExact
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>isExact</label>
        </child>
        <child ID="12" label="isAfter" created="1632493550868"
            x="56.399994" y="83.399994" width="148.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <fillColor>#E6F7FD</fillColor>
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb72c0a83801010164a0ee45f49d</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      isAfter
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>isAfter</label>
        </child>
        <child ID="13" label="isBefore" created="1632493550868"
            x="56.399994" y="105.399994" width="146.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb73c0a83801010164a0b7d9f1cc</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      isBefore
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>isBefore</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="14" label="ogc:Geometry" layerID="1"
        created="1632493550867" x="630.0106" y="229.57019" width="172.4"
        height="63.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://schemas.opengis.net/geosparql/1.0/geosparql_vocab_all.rdf"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://schemas.opengis.net/geosparql/1.0/geosparql_vocab_all.rdf"/>
        </resource>
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb74c0a83801010164a0cfa558ee</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="15" label="Point" layerID="1" created="1632493550867"
        x="653.6615" y="328.65433" width="136.20001" height="93.20001"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb74c0a83801010164a04ad268e2</URIString>
        <child ID="16" label="latitude" created="1632493550868"
            x="45.600006" y="35.600006" width="52.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb75c0a83801010164a0f230356b</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      latitude
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>latitude</label>
        </child>
        <child ID="17" label="longitude" created="1632493550868"
            x="45.600006" y="57.600006" width="74.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb75c0a83801010164a0067a3940</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      longitude
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>longitude</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="18" label=":Port&#xa;uri : UHGS_id" layerID="1"
        created="1632493550867" x="359.195" y="276.81915" width="198.0"
        height="250.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb75c0a83801010164a0c0b8d8e7</URIString>
        <child ID="19" label="shippingArea" created="1632493550868"
            x="61.5" y="66.5" width="84.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb75c0a83801010164a03cc87e83</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      shippingArea
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>shippingArea</label>
        </child>
        <child ID="20" label="toponyme_fr" created="1632493550868"
            x="61.5" y="88.5" width="78.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb75c0a83801010164a00ca291ee</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      toponyme_fr
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>toponyme_fr</label>
        </child>
        <child ID="21" label="amiraute" created="1632493550868" x="61.5"
            y="110.5" width="88.0" height="19.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb76c0a83801010164a079162098</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      amiraute
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>amiraute</label>
        </child>
        <child ID="22" label="province" created="1632493550868" x="61.5"
            y="132.5" width="84.0" height="19.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb76c0a83801010164a0ff7df9e2</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      province
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>province</label>
        </child>
        <child ID="23" label="substate_1789_fr" created="1632493550868"
            x="61.5" y="154.5" width="104.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb76c0a83801010164a07ccb7fe6</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      substate_1789_fr
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>substate_1789_fr</label>
        </child>
        <child ID="24" label="state_1789_fr" created="1632493550868"
            x="61.5" y="176.5" width="88.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb77c0a83801010164a06ece1961</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      state_1789_fr
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>state_1789_fr</label>
        </child>
        <child ID="25" label="status" created="1632493550868" x="61.5"
            y="198.5" width="75.0" height="19.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb77c0a83801010164a0a1bbb94f</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      status
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>status</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="32" label=":hasRelativeDatation" layerID="1"
        created="1632493550867" x="320.39362" y="110.02582"
        width="149.90778" height="35.477432" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb77c0a83801010164a06074d47d</URIString>
        <point1 x="320.89362" y="145.00325"/>
        <point2 x="469.8014" y="120.444786"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">10</ID2>
        <ctrlPoint0 x="397.828" y="101.32761" xsi:type="point"/>
    </child>
    <child ID="35" label=":hasPlace" layerID="1" created="1632493550867"
        x="299.8797" y="256.24225" width="78.861725" height="72.576935"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb79c0a83801010164a0f50a93df</URIString>
        <point1 x="300.37967" y="256.74222"/>
        <point2 x="378.2414" y="328.31915"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">18</ID2>
    </child>
    <child ID="36" label="isA" layerID="1" created="1632493550867"
        x="710.6215" y="292.01562" width="16.0" height="37.29492"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb79c0a83801010164a077e7949a</URIString>
        <point1 x="719.5037" y="328.81055"/>
        <point2 x="717.7393" y="292.51562"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
    <child ID="37" label="ogc:hasGeometry" layerID="1"
        created="1632493550867" x="547.23663" y="326.24448"
        width="119.06152" height="23.035522" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb79c0a83801010164a0000e4b85</URIString>
        <point1 x="547.73663" y="348.764"/>
        <point2 x="665.79816" y="348.78"/>
        <ID1 xsi:type="node">18</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="600.13495" y="317.71692" xsi:type="point"/>
    </child>
    <child ID="39" label="traj:Segment" layerID="1"
        created="1632493550867" x="-50.265106" y="-12.482407"
        width="143.20001" height="45.234085" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb79c0a83801010164a09bc14630</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="40" label="traj: startsFrom" layerID="1"
        created="1632493550867" x="45.123474" y="30.825497"
        width="118.8091" height="103.78394" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb79c0a83801010164a0bb530d2c</URIString>
        <point1 x="45.623474" y="31.325493"/>
        <point2 x="163.43257" y="134.10944"/>
        <ID1 xsi:type="node">39</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="41" label="traj: endsAt" layerID="1"
        created="1632493550867" x="92.15822" y="10.501648"
        width="136.42966" height="109.22394" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb79c0a83801010164a0978959fc</URIString>
        <point1 x="92.65822" y="11.001648"/>
        <point2 x="228.08788" y="119.225586"/>
        <ID1 xsi:type="node">39</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="221.06671" y="12.562592" xsi:type="point"/>
    </child>
    <child ID="43" label="hasHomeport" layerID="1"
        created="1632493550867" x="269.62442" y="473.64752"
        width="108.423096" height="50.33069" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb79c0a83801010164a07a64d24f</URIString>
        <point1 x="270.12442" y="513.97546"/>
        <point2 x="377.54752" y="474.14752"/>
        <ID1 xsi:type="node">44</ID1>
        <ID2 xsi:type="node">18</ID2>
        <ctrlPoint0 x="304.23798" y="539.8949" xsi:type="point"/>
    </child>
    <child ID="44"
        label=":ShipDescription&#xa;uri : source_doc_id_ship_id"
        layerID="1" created="1632493550867" x="48.602966" y="339.8458"
        width="256.59998" height="206.59998" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#E6F7FD</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb7ac0a83801010164a0a7386237</URIString>
        <child ID="45" label="name" created="1632493550872"
            x="60.299988" y="65.29999" width="83.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb7ac0a83801010164a0bd4d19fc</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      name
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>name</label>
        </child>
        <child ID="46" label="flag" created="1632493550872"
            x="60.299988" y="87.29999" width="67.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb7bc0a83801010164a0a96425a7</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      flag
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>flag</label>
        </child>
        <child ID="47" label="tonnage" created="1632493550872"
            x="60.299988" y="109.29999" width="70.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb7bc0a83801010164a02fb93b7b</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      tonnage
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>tonnage</label>
        </child>
        <child ID="48" label="tonnage_unit" created="1632493550872"
            x="60.299988" y="131.29999" width="83.0" height="22.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb7bc0a83801010164a08b22c9a5</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      tonnage_unit
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>tonnage_unit</label>
        </child>
        <child ID="49" label="ship_class" created="1632493550872"
            x="60.299988" y="156.29999" width="70.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb7dc0a83801010164a0bd4c3f88</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      ship_class
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>ship_class</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="50" label=":hasShipDescription" layerID="1"
        created="1632493550867" x="159.99823" y="269.27563" width="96.0"
        height="72.81439" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb7dc0a83801010164a0c8059c21</URIString>
        <point1 x="216.12074" y="269.77563"/>
        <point2 x="199.87572" y="341.59003"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">44</ID2>
    </child>
    <child ID="52" label="time:Instant" layerID="1"
        created="1632493550867" x="658.15686" y="-30.839355"
        width="124.2" height="58.200005" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://www.w3.org/2006/time#" type="2" xsi:type="URLResource">
            <property key="URL" value="http://www.w3.org/2006/time#"/>
        </resource>
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb7ec0a83801010164a03645c0c9</URIString>
        <child ID="53" label="day_Date" created="1632493550872" x="39.1"
            y="29.100002" width="64.0" height="19.0" strokeWidth="0.0"
            autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb7ec0a83801010164a0a0c7fb97</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12; margin-left: 0px }
        ol { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
        p { color: #000000; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0 }
        ul { margin-top: 6; vertical-align: middle; list-style-position: outside; font-family: Arial; font-size: 12; margin-left: 30 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      day_Date
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>day_Date</label>
        </child>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="54" label="time:hasTime" layerID="1"
        created="1632493550867" x="635.678" y="24.310242" width="62.0"
        height="60.75885" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#000000</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb7ec0a83801010164a06aabfab6</URIString>
        <point1 x="638.30774" y="84.56909"/>
        <point2 x="695.0483" y="24.810242"/>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">52</ID2>
    </child>
    <child ID="58" label="gn:Feature&#xa;uri : geonameid" layerID="1"
        created="1632494466573" x="648.93494" y="461.21692"
        width="172.4" height="63.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <resource referenceCreated="0"
            spec="http://schemas.opengis.net/geosparql/1.0/geosparql_vocab_all.rdf"
            type="2" xsi:type="URLResource">
            <property key="URL" value="http://schemas.opengis.net/geosparql/1.0/geosparql_vocab_all.rdf"/>
        </resource>
        <fillColor>#FDE888</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1843f0cec0a83801010164a0c5168f08</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="59" label="owl:sameAs" layerID="1"
        created="1632494485593" x="537.7794" y="474.59805"
        width="121.74951" height="38.338226" strokeWidth="1.0"
        strokeStyle="1" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1843f0cec0a83801010164a0cb6e3be4</URIString>
        <point1 x="538.2794" y="475.09805"/>
        <point2 x="659.02893" y="507.2133"/>
        <ID1 xsi:type="node">18</ID1>
        <ID2 xsi:type="node">58</ID2>
        <ctrlPoint0 x="588.13495" y="520.7169" xsi:type="point"/>
    </child>
    <layer ID="1" label="Layer 1" created="1632493549826" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/183dcb7ec0a83801010164a063d8928b</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-382.86505" y="-291.28308"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1632493549825"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="0" open="true">
            <strokeColor>#B333CC33</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/183dcb7ec0a83801010164a03e2ab3f2</URIString>
            <masterSlide ID="2" created="1632493549851" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/183dcb7fc0a83801010164a078f580ff</URIString>
                <titleStyle ID="3" label="Header"
                    created="1632493549861" x="335.5" y="172.5"
                    width="129.0" height="55.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/183dcb7fc0a83801010164a0970c74ad</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1632493549862" x="346.5" y="281.5"
                    width="107.0" height="37.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/183dcb7fc0a83801010164a001b898a1</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1632493549863"
                    x="373.5" y="384.0" width="53.0" height="32.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/183dcb80c0a83801010164a0d135d2b1</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2021-09-24</date>
    <modelVersion>6</modelVersion>
    <saveLocation>C:\Travail\Dev\portic_humanum\tp-portic\fig</saveLocation>
    <saveFile>C:\Travail\Dev\portic_humanum\tp-portic\fig\tp_portic_24sept2021.vue</saveFile>
</LW-MAP>
